:root {
    --color-background: hsl(0deg, 0%, 0%);
    --color-primary: hsl(0deg, 0%, 10%);
    --color-secondary: hsl(0deg, 0%, 20%);
    --color-tertiary: hsl(0deg, 0%, 40%);
    --color-headline: hsl(0deg, 0%, 100%);
    --color-button: hsl(0deg, 0%, 40%);
    --color-button-text: hsl(0deg, 0%, 100%);
    --color-paragraph: hsl(0deg, 0%, 80%);
    --color-stroke: hsl(0deg, 0%, 100%);
    --color-highlight: hsl(0deg, 0%, 0%); /* 9DC4B5 */
}
